.container {
    display: flex;
    gap: 56px
}

.feed {
    height: 744px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 50%
}

.feed_profile {
    width: 100%;
    height: 868px;
}

.list {
    margin: 0;
    padding: 0 8px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.item {
    background-color: #1C1C21;
    border-radius: 40px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.head {
    display: flex;
    justify-content: space-between;
}

.order_number {
    display: flex
}

.composition {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_image {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: relative;

}

.item_image {
    border: 2px solid #4C4CFF;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    background: #131316;

}

.item_image:first-of-type {
    z-index: 7;
}

.item_image:nth-of-type(2) {
    z-index: 6;
    position: absolute;
    left: 48px;
}

.item_image:nth-of-type(3) {
    z-index: 5;
    position: absolute;
    left: 96px;
}

.item_image:nth-of-type(4) {
    z-index: 4;
    position: absolute;
    left: 144px;
}

.item_image:nth-of-type(5) {
    z-index: 3;
    position: absolute;
    left: 192px;
}

.item_image:nth-of-type(6) {
    z-index: 2;
    position: absolute;
    left: 240px;
}

.price {
    display: flex;
    gap: 8px;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 50%
}

.number {
    display: flex;
    gap: 40px
}

.done {
    width: 50%;

}

.list_done {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    overflow-x: scroll;
    height: 330px;
    padding-bottom: 10px;
}

.title_done {
    padding-bottom: 24px;
}

.pending {
    width: 50%
}

.list_pending {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.title_pending {
    padding-bottom: 24px;
}

.digits_shadow {
    text-shadow: 0 0 8px rgba(51, 51, 255, 0.5), 0 0 32px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25)
}

.number_done {
    color: #00CCCC
}

.count {
    z-index: 2;
    position: absolute;
    top: 2px;
    left: 242px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    background-color: rgba(28, 28, 33, 0.6);
    align-items: center;
    justify-content: center;
}

.digits {
    font-size: 16px;
}

.link {
    color: #fff;
    text-decoration: none;
}