.item {
    width: 272px;
    min-height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.price {
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
}